@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
.scrollbar-container::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.scrollbar-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-container::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


 video::-webkit-media-controls-overlay-play-button {
   display: none;
 }

*::-webkit-media-controls-panel {

  display: none!important;

  -webkit-appearance: none;

}

*::--webkit-media-controls-play-button {

  display: none!important;

  -webkit-appearance: none;

}

*::-webkit-media-controls-start-playback-button {

  display: none!important;

  -webkit-appearance: none;

}
